previewsEnabled: true

databases:
  - name: postgres
    region: ohio
    plan: starter
    ipAllowList: []

services:
  - type: redis
    name: redis
    region: ohio
    plan: starter # choose a plan with persistence to ensure tasks are not lost upon restart
    maxmemoryPolicy: noeviction # recommended policy for queues
    ipAllowList: [] # only allow internal connections

  - type: worker
    name: ingest-extractor
    region: ohio
    env: node
    rootDir: ingest/extractor
    buildCommand: yarn
    startCommand: yarn start
    envVars:
      - key: NODE_VERSION
        value: lts
      - fromGroup: kong
      - key: REDIS_HOST
        fromService:
          type: redis
          name: redis
          property: host
      - key: REDIS_PORT
        fromService:
          type: redis
          name: redis
          property: port


