services:
  # - type: worker
  #   name: queue-worker
  #   region: ohio
  #   env: python
  #   buildCommand: "pip install -r requirements.txt"
  #   startCommand: "celery --app tasks worker --loglevel info --concurrency 4"
  #   autoDeploy: false
  #   rootDir: queue
  #   envVars:
  #     - key: CELERY_BROKER_URL
  #       fromService:
  #         name: redis
  #         type: redis
  #         property: connectionString

  # - type: web
  #   name: queue-dashboard
  #   region: ohio
  #   plan: free
  #   env: python
  #   buildCommand: "pip install -r requirements.txt"
  #   startCommand: "celery flower --app tasks --loglevel info"
  #   autoDeploy: false
  #   rootDir: queue
  #   envVars:
  #     - key: CELERY_BROKER_URL
  #       fromService:
  #         type: redis
  #         name: redis
  #         property: connectionString

  # - type: redis
  #   name: redis
  #   region: ohio
  #   plan: starter # choose a plan with persistence to ensure tasks are not lost upon restart
  #   maxmemoryPolicy: noeviction # recommended policy for queues
  #   ipAllowList: [] # only allow internal connections
